extends base 

append stylesheets 
    link(rel="stylesheet" href="css/matches.css")

block content 
    .panel 
        .panel-head Matches
        .panel-body
            .match-panel
                - var matchCounter = 0
                each week, weekNumber in seasonData.matches 
                    .week-number= "Week " + (weekNumber+1)

                    each match, matchNumber in week
                        a.match-item(href="match?season=" + seasonData.selectedSeason.id + "&id=" + (matchCounter)) 

                            if(match.winner)
                                .match-result
                                    if(match.winner == "home")
                                        img(src="img/green-laurel.png")
                                    else 
                                        div

                                    .home= match.home.tag
                                    .score= match.home.roundsWon + ":" + match.away.roundsWon
                                    .away= match.away.tag

                                    if(match.winner == "away")
                                        img(src="img/green-laurel.png")
                                    else 
                                        div
                            else
                                .match-result
                                    img(src="img/green-laurel.png")
                                    .home= match.home.tag
                                    .vs= "vs"
                                    .away= match.away.tag
                                    img(src="img/green-laurel.png")
                        - matchCounter++