extends base 

append stylesheets 
    link(rel="stylesheet" href="css/matches.css")

block content 
    .matches-panel 
        .matches-panel-row.head-row
            .matches-panel-column.matches-panel-head-title.first-column Matches
            - var i = 0
            while i < seasonData.matchesPerWeek
                .matches-panel-column.matches-panel-head-match-numbers= i+1 + ""
                - i++
        - var matchCounter = 0
        each week, weekNumber in seasonData.matches 
            .matches-panel-row
                .matches-panel-column.first-column
                    .matches-panel-week-numbers= "Week " + (weekNumber+1)
                each match, matchNumber in week
                    a.matches-panel-column.match-result-container(href="match?id=" + (matchCounter)) 
                        .match-result
                            .laurels
                                img(src="img/golden-laurel.png")
                            .home= match.home.tag
                            .vs= "vs"
                            .away= match.away.tag
                            .laurels
                                img(src="img/golden-laurel.png")
                    - matchCounter++
                