extends base 

append stylesheets 
    link(rel="stylesheet" href="css/match.css")

block content 
    -
        if(matchDataFound){
            var roundStats = match.roundStats
        }
    .panel 
        .panel-head
            .panel-title Match
            .overall-result
                if(match.home.roundsWon > match.away.roundsWon)
                    img(src="img/green-laurel.png").laurels.laurels-team1 
                else 
                    .naught
                .team-name= match.home.name
                .rounds= match.home.roundsWon + " : " + match.away.roundsWon
                .team-name= match.away.name
                if(match.away.roundsWon > match.home.roundsWon)
                    img(src="img/green-laurel.png").laurels.laurels-team2
                else 
                    .naught
        .panel-body
            if(matchDataFound)
                table
                    thead
                        tr
                            th Round
                            th Team
                            th Score
                            th Player
                            th K
                            th D
                            th A
                            th Net Damage
                    tbody
                        each round, i in roundStats
                            -
                                var rowSpanRound = (round.home.playerStats.length + 1) * 2;
                                var rowSpanTagScore = round.home.playerStats.length + 1;
                            tr
                                td(rowspan=rowSpanRound).round-nr= i+1
                                td(rowspan=rowSpanTagScore).team1= match.home.tag
                                td(rowspan=rowSpanTagScore).team1= round.home.score
                                each player in round.home.playerStats 
                                    tr
                                        td.team1= player.playerName
                                        td.team1= (player.Kills.value || player.Kills)
                                        td.team1= (player.Deaths.value || player.Deaths)
                                        td.team1= (player.Assists.value || player.Assists)
                                        - var netDamage = player.NetDamage.value || player.NetDamage
                                        if(netDamage >= 0)
                                            td.team1.green= "+" + (player.NetDamage.value || player.NetDamage)
                                        else if(netDamage < 0)
                                            td.team1.red= (player.NetDamage.value || player.NetDamage)
                            tr
                                td(rowspan=rowSpanTagScore).team2= match.away.tag
                                td(rowspan=rowSpanTagScore).team2= round.away.score
                                each player in round.away.playerStats 
                                    tr
                                        td.team2= player.playerName
                                        td.team2= (player.Kills.value || player.Kills)
                                        td.team2= (player.Deaths.value || player.Deaths)
                                        td.team2= (player.Assists.value || player.Assists)
                                        - var netDamage = player.NetDamage.value || player.NetDamage
                                        if(netDamage >= 0)
                                            td.team2.green= "+" + (player.NetDamage.value || player.NetDamage)
                                        else if(netDamage < 0)
                                            td.team2.red= (player.NetDamage.value || player.NetDamage)
            else 
                .match-table Nothing here
