extends base 

append stylesheets 
    link(rel="stylesheet" href="css/matches.css")

block content 
    .panel 
        .panel-head Matches
        .panel-body
            if(seasonData.matches)
                -
                    var gridStyle = {
                        "display": "grid",
                        "grid-template-rows": "repeat(" + (seasonData.matches.length) + ", 1fr)",
                        "grid-template-columns": "1fr repeat(" + (seasonData.matches[0].length) + ", " + 7 / seasonData.matches[0].length + "fr)",
                        "height": "100%"
                        }
                .match-panel(style=gridStyle)
                    - var matchCounter = -1
                    each week, weekNumber in seasonData.matches 
                        .week-number= "Week " + (weekNumber+1)
                        each match, matchNumber in week
                            - matchCounter++
                            if(match.matchDataFound)
                                a.match-item(href="match?season=" + seasonData.selectedSeason.id + "&id=" + (matchCounter)) 
                                        .match-result
                                            if(match.home.roundsWon > match.away.roundsWon)
                                                img(src="img/green-laurel.png")
                                            else 
                                                div

                                            if(match.home.roundsWon > match.away.roundsWon)
                                                .home.winner= match.home.tag
                                            else
                                                .home= match.home.tag

                                            .score= match.home.roundsWon + ":" + match.away.roundsWon

                                            if(match.away.roundsWon > match.home.roundsWon)
                                                .home.winner= match.away.tag
                                            else
                                                .home= match.away.tag

                                            if(match.away.roundsWon > match.home.roundsWon)
                                                img(src="img/green-laurel.png")
                                            else 
                                                div
                            else
                                .match-item-not-yet-played
                                    .match-not-yet-played
                                        div
                                        .home= match.home.tag
                                        .vs= "vs"
                                        .away= match.away.tag
                                        div
            else 
                p No match data found