extends base 

append stylesheets 
    link(rel="stylesheet" href="css/match.css")

block content 
    -
        if(matchDataFound){
            var roundStats = match.roundStats
        }
    .panel 
        .panel-head
            .panel-title Match
            .overall-result
                .laurels 
                .team-name= match.home.name
                .rounds= match.home.roundsWon
                | :
                .rounds= match.away.roundsWon
                .team-name= match.away.name
                .laurels
        .panel-body
            if(matchDataFound)
                .match-table
                    .match-table-head
                        .head-cell Round
                        .head-cell Team
                        .head-cell Score
                        .head-cell Player
                        .head-cell KDA
                        .head-cell Net Damage
                    .match-table-body
                        each round, i in roundStats
                            .match-table-round
                                .match-table-cell= i+1
                                .team-stats
                                    .match-table-cell= match.home.tag
                                    .match-table-cell (score)
                                    .player-stats
                                        each player in round.home.playerStats 
                                            .match-table-cell= player.playerName
                                            .match-table-cell= (player.Kills.value || player.Kills) + ":" + (player.Deaths.value || player.Deaths) + ":" + (player.Assists.value || player.Assists)
                                            .match-table-cell= (player.NetDamage.value || player.NetDamage)
                                .team-stats
                                    .match-table-cell= match.away.tag
                                    .match-table-cell (score)
                                    .player-stats
                                        each player in round.away.playerStats 
                                            .match-table-cell= player.playerName
                                            .match-table-cell= (player.Kills.value || player.Kills) + ":" + (player.Deaths.value || player.Deaths) + ":" + (player.Assists.value || player.Assists)
                                            .match-table-cell= (player.NetDamage.value || player.NetDamage)
            else 
                .test Naught
